<launch>
    <arg name="robot_ip" default="127.0.0.1" />
    <include file="$(find stone_clay_ros)/launch/bringup_collect.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>
    <include file="$(find stone_clay_ros)/launch/bringup_fabricate.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>
</launch>
