<?xml version="1.0" encoding="utf-8"?>
<launch>
  <include file="$(find abb_irb4600_40_255_moveit_config)/launch/demo.launch"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <args name="unregister_timeout" value="28800" doc=""/>
    <!-- This horribly long timeout of 8 hours is to workaround this issue:
     https://github.com/RobotWebTools/rosbridge_suite/issues/138 -->
  </include>
  <include file="$(find file_server)/launch/file_server.launch"/>
</launch>
